
.footer {
    height: auto;
    width: 100%;
    background: #14142B;
    color: white;
    padding: 70px 85px;
}
@media only screen and (max-width: 968.98px) 
{
  .footer{
    padding: 70px 30px;
  }
}
.linkContents {
    /* border: 1px solid white; */
    height: 200px;
}
@media only screen and (max-width: 768.98px) 
{
  .linkTitle {
    margin-top: 40px;
  }
  .downloadLinks {
    margin-top: 60px;
  }
  .footerLine {
    margin-top: 100px;
  }
}
.linkTitle {
    font-size: 15px;
    font-weight: 400;
    /* display: inline; */
}
.navList {
    margin-left: -30px;
    margin-top: 25px;
}
.navList li {
    list-style-type: none;
    margin-bottom: 15px;
    
}
.navList a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    text-decoration-line: none;
    text-transform: capitalize;
    font-weight: 300;
}

.downloadLinks {
    float: right;
    text-align: right;
}
.downloadLinks img {
  float: right;
    text-align: right;
}
.downloadLinks img:nth-child(1) {
    margin-right: 10px;
}
.footerLine {
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
.copyright {
    color: #7D7D7D;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}
.socials {
  /* border: 1px solid white; */
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  float: right;
  margin-right: 60px;
}
@media only screen and (max-width: 425.98px) 
{
  .socials {
    float: left;
    margin-top: 30px;
  }
}
